services:
  node:
    build:
      context: ./docker/node
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    working_dir: /app
    volumes:
      - ./app:/app
    ports:
      - "5173:5173"
    command: tail -f /dev/null
